<style>
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cst-prd-container {
    background: #f9fffa;
    padding: 30px 20px;
}
.cst-prd-harper-img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cst-prd-harper-img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
}
.cst-prd-harper-img-title-div {
    display: flex;
    align-items: center;
}
.cst-prd-haeper-img-1 {
    width: 100%;
    max-width: 16px;
}
.cst-prd-harper-title {
    font-size: 15px;
    font-family: "Tenor Sans", sans-serif;
    color: #666666;
    margin-left: 6px;
}
.harper-cst-heading {
    font-size: 15px;
    font-family: Assistant, sans-serif;
    color: #333333;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 400;
}
.cst-prd-flx {
    display: flex;
  gap: 20px;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding: 10px;
}
.cst-prd-col {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 15px;
    overflow-wrap: break-word;
    display: inline-block;
        text-align: center;

}
.cst-prd-rating {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 2px;
}
.cst-prd-text {
        font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
    font-family: "tenor Sans", sans-serif;
    font-weight: 500;
}
.cst-prd-des {
    font-size: 14px;
    font-family: "Tenor Sans", sans-serif;
    color: #666666;
}
.cst-prd-span {
    background-color: #00b67a;
    color: #fff;
    width: 20px;
    height: 20px;
    display: inline-block;
    font-family: "Tenor Sans", sans-serif;
    line-height: 20px;
    font-size: 16px;
    border-radius: 2px;
}
</style>
    <section class="cst-prd-sec">
        <div class="cst-prd-container">
            <div class="cst-prd-harper-img-box">
              {% if section.settings.sub-cst-prd-harper-img !=blank%}
                <img src="{{ section.settings.sub-cst-prd-harper-img |img_url:'master' }}" alt="" class="cst-prd-harper-img">
              {% endif %}
                <div class="cst-prd-harper-img-title-div">
                   {% if section.settings.sub-cst-prd-haeper-img-1 !=blank%}
                    <img src="{{ section.settings.sub-cst-prd-haeper-img-1 |img_url:'master' }}" alt="" class="cst-prd-haeper-img-1">
                    {% endif %}
                    <span class="cst-prd-harper-title">
                      {{ section.settings.sub-cst-prd-harper-title }}
                    </span>
                </div>
                <h2 class="harper-cst-heading">
                  {{ section.settings.sub-harper-cst-heading}}
                </h2>
            </div>
            <div class="cst-prd-flx">
              {% for block in section.blocks %}
                <div class="cst-prd-col">
                    <div class="cst-prd-rating">
                         <span class="cst-prd-span">★</span>
                        <span class="cst-prd-span">★</span>
                        <span class="cst-prd-span">★</span>
                        <span class="cst-prd-span">★</span>
                        <span class="cst-prd-span">★</span>
                    </div>
                    <div class="cst-prd-text-div">
                        <p class="cst-prd-text">
                          {{ block.settings.sub-cst-prd-text }}
                        </p>
<p class="cst-prd-des">
  {{ block.settings.sub-cst-prd-des }}
</p>
                    </div>
                </div>
               {% endfor %}
                
            </div>
        </div>
    </section>
{% schema %}
  {
    "name": "Scrool Text Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "sub-cst-prd-harper-img",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "sub-cst-prd-harper-img-1",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "sub-cst-prd-harper-title",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "sub-harper-cst-heading",
        "label": "Text"
      },
    ],
    "blocks": [
      {
        "type": "Scrool-Text-Section",
        "name": "Scrool Text Section",
        "settings": [
         
          {
            "type": "text",
            "id": "sub-cst-prd-text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "sub-cst-prd-des",
            "label": "Text"
          },
        ],
      }
    ],
    "presets": [
      {
        "name": "Scrool Text Section",
      },
    ],
  }
{% endschema %}