<style>
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card-sec {
    padding: 30px 0;
}
.csrd-conatiner {
    padding: 0 15px;
}
.csrd-conatiner {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
}
.card-col {
    width: 32%;
    background: #e9f4f3;
    border-radius: 15px;
}
.card-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.card-image {
    display: flex;
    justify-content: center;
        margin-bottom: 15px;
}
.card-img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    object-fit: cover;
}


.card-btn.flx {
    display: flex;
    justify-content: center;
    align-items: center;
        margin-bottom: 25px;
}
.card-span {
    font-size: 12px;
    font-family: "Styrene B YFood Web", sans-serif;
        display: flex;
    align-items: center;
}
.card-span-flx {
    background: #c5dfc9;
    padding: 6px 13px;
    margin-left: 10px;
    border-radius: 20px;
    display: flex;
}
svg.icon.icon-vegan {
    max-width: 100%;
     margin-left: 10px;
}
.card-text-flx {
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}
.card-text {
    font-size: 24px;
    font-family: "Eddge Bold", sans-serif;
    font-weight: 700;
    padding-bottom: 10px;
}
.card-des {
    font-size: 17px;
    font-family: system-ui;
    font-weight: 400;
    margin-bottom: 10px;
         transition:  0.3s ease-in-out;
}
.card-button {
    font-size: 16px;
    font-family: system-ui;
    background: #002b26;
    padding: 14px;
    color: #fff;
    width: 88%;
        margin: 30px auto;
    border-radius: 10px;
        transition:  0.3s ease-in-out;
           top: 24px;
    left: 20px;
    position: absolute;
    opacity: 0
}
.card-row:hover .card-button{
    opacity: 1;
} 
.card-row:hover .card-des{
    opacity: 0;
}



@media screen and (max-width:767px){
    .card-col {
    width: 100%;
}

.card-des{
    opacity: 1;
}
.card-des {
    font-size: 14px;
}
h3.card-text {
    font-size: 22px;
}

.card-des{
    opacity: 1;
            margin-top: 10px;
}
.card-button{
        opacity: 1;
        position: inherit;
        left: 0;
               top: 14px;
}

}

</style>
    <section class="card-sec">
        <div class="csrd-conatiner">
            <div class="card-flex">
              {% for block in section.blocks %}
                <div class="card-col">
                    <div class="card-row">
                        <div class="card-image">
                          {% if block.settings.sub-card-img !=blank%}
                            <img src="{{ block.settings.sub-card-img |img_url:'master' }}" alt="" class="card-img |img">
                            {% endif %}
                        </div>
                        <div class="card-btn flx">
                            <div class="card-span-flx">
                            <span class="card-span">
                              {{ block.settings.sub-card-span }}
                            </span>
                            </div>
                           <div class="card-span-flx">
                            <span class="card-span">
                                    {{ block.settings.sub-card-span }}
                            </span>
                            <svg class="icon icon-vegan" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
  <path d="M3.71812 7.62473C4.68732 6.65157 5.93553 6.14105 7.19842 5.83793C8.46132 5.55077 9.75358 5.45505 11.0312 5.2317C12.015 5.05621 13.043 4.76905 13.8066 4.03518C13.88 3.95541 13.9975 4.01923 13.9975 4.14686C14.0269 5.85389 13.8066 7.64069 12.9108 8.96483C12.1325 10.1294 10.899 10.8154 9.65078 11.1345C8.40258 11.4536 7.09563 11.4536 5.81805 11.4855C4.56984 11.5174 3.29226 11.5812 2.10279 11.996C2.07342 12.012 2 11.9801 2 11.9003C2.01468 11.6131 2.05874 10.9431 2.07342 10.8314C2.14685 10.4166 2.26433 10.0178 2.41117 9.63488C2.71956 8.86911 3.1601 8.16716 3.71812 7.62473Z" fill="#12b749"></path>
</svg>
                            </div>
                           <div class="card-span-flx">
                            <span class="card-span">
                                    {{ block.settings.sub-card-span }}
                            </span>
                            </div>
                        </div>
                        <div class="card-text-flx">
                            <h3 class="card-text">
                                    {{ block.settings.sub-card-text }}
                            </h3>
                            <p class="card-des">
                              {{ block.settings.sub-card-des }}
                            </p>
                            <p class="card-button">
                              {{ block.settings.sub-card-button }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% schema %}
  {
    "name": "Yfood Box",
    "settings": [],
    "blocks": [
      {
        "type": "Yfood-Box",
        "name": "Yfood Box",

        "settings": [
          {
            "type": "image_picker",
            "id": "sub-card-img",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "sub-card-span",
            "label": "Text"
          },
           {
            "type": "text",
            "id": "sub-card-text",
            "label": "Text"
          },
           {
            "type": "text",
            "id": "sub-card-des",
            "label": "Text"
          },
           {
            "type": "text",
            "id": "sub-card-button",
            "label": "Text"
          },
        ],
      }
    ],
    "presets": [
      {
        "name": "Yfood Box",
      }
    ],
  }
{% endschema %}